# Virtual environment
venv/
.env/

# Model files (downloaded at runtime)
models/*.joblib
models/*.pkl

# Large datasets
*.csv
!data/cleaned_real_estate.csv   # allow only this CSV

# Python cache
__pycache__/
*.pyc

# Streamlit
.streamlit/

# MLflow experiments
mlruns/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
